@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);

$grayBlue: hsl(227, 12%, 61%);
$darkDarkBlue: hsl(233, 12%, 13%);
$paleRed: hsl(13, 100%, 96%);
$lightGray: hsl(0, 0%, 98%);

$font: 'Be Vietnam Pro', sans-serif;

